**Code for Node and Linked List**

In [1]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
    def getData(self):
        return self.data
    def getNext(self):
        return self.next
    def setData(self, newData):
        # newData here is a number or a character
        self.data = newData
    def setNext(self, newNext):
        # newNext here is another Node object
        self.next = newNext

# Singly linked list
class LinkedList:
    def __init__(self):
        self.head = None
    def isEmpty(self):
        if self.head:
            return False
        else:
            return True
    def add(self, item):
        # item here is a number or a character, we first create a new Node object and assign this item as the data of the object
        newNode = Node(item)
        if self.head:
            newNode.setNext(self.head)
            self.head = newNode
        else:
            self.head = newNode
    def search(self, item):
        curr = self.head
        while curr:
            if curr.data == item:
                return True
            curr = curr.next
        return False
    def remove(self, item):
        # item here must be already included in the linked list
        if self.head.data == item:
            temp = self.head
            self.head = self.head.next
            temp.next = None
        else:
            curr = self.head
            while curr.next:
                if curr.next.data == item:
                    temp = curr.next
                    curr.next = temp.next
                    temp.next = None
                    break
    def size(self):
        curr = self.head
        count = 0
        while curr:
            count += 1
            curr = curr.getNext()
        return count

2.1 **Remove Dups:** Write code to remove duplicates from an unsorted linked list. How would you solve this problem if a temporary buffer is not allowed?

In [2]:
def removeDups(llist):
    '''
    First ask: singly linked list vs doubly linked list
    If we can use additional space, we can use a hash table (set or dictionary in Python) to keep track of the elements and counts of the linked list. The totl time complexity could be O(n)
    However, if we cannot use a temporary buffer, a brute-fore method could be scan the linked list n times which takes O(n^2) by using two pointers
    '''
    tbl = set()
    curr = llist.head
    prev = None
    while curr:
        if curr.getData() not in tbl:
            tbl.add(curr.getData())
            prev = curr
            curr = curr.getNext()
        else:
            prev.setNext(curr.getNext())
            curr.setNext(None)
            curr = prev.getNext()

llist = LinkedList()
llist.add(1)
llist.add(2)
llist.add(3)
llist.add(4)
llist.add(5)
llist.add(6)
llist.add(3)
llist.add(2)
llist.add(7)
llist.add(6)
print(llist.size())
removeDups(llist)
print(llist.size())

10
7

In [ ]:
# remove duplicates without buffer
def removeDups2(llist):
    slow = llist.head
    while slow.getNext():
        fast = slow.getNext()
        prev = slow
        value = slow.getData()
        while fast:
            if fast.getData() == value

In [8]:
import pandas as pd
import numpy as np
def absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return (np.abs((y_true - y_pred) / y_true)) * 100

xxx = pd.DataFrame({'A':[1,2,3,4], 'B':[10,11,12,13], 'C':[20,21,22,23], 'D':[32,23,45,12]})
y = xxx.iloc[0]
y_pred = xxx.iloc[1]
y

A     1
B    10
C    20
D    32
Name: 0, dtype: int64

In [9]:
y_pred

A     2
B    11
C    21
D    23
Name: 1, dtype: int64

In [10]:
abs_per_error = absolute_percentage_error(y, y_pred)
abs_per_error

array([100.   ,  10.   ,   5.   ,  28.125])

In [11]:
mean_abs_per_error = np.mean(abs_per_error, axis=0)
mean_abs_per_error

35.78125

In [12]:
sum_abs_error = np.sum(mean_abs_per_error, axis=0)
sum_abs_error

35.78125

In [18]:
xxx.nsmallest(5, 'D')

   A   B   C   D
3  4  13  23  12
1  2  11  21  23
0  1  10  20  32
2  3  12  22  45

In [20]:
xxx.append({'A':444, 'B':555, 'C':666, 'D':777}, ignore_index=True)

     A    B    C    D
0    1   10   20   32
1    2   11   21   23
2    3   12   22   45
3    4   13   23   12
4  444  555  666  777

In [21]:
xxx

   A   B   C   D
0  1  10  20  32
1  2  11  21  23
2  3  12  22  45
3  4  13  23  12